@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #e8e4e1;
    text-align:center;
}

.container {
    margin: auto;
    width: 50%;
    height: 40%;
    background-color: #f0f0f0;
    border-radius: 20px;

    -webkit-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
}

.main {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 40%;
    background-color: #f0f0f0;
}

.tabcontainer {
    margin: auto;
    width: 80%;
    height: 40%;
}

.tabcontainer          { overflow-y: auto; height: 200px; }
.tabcontainer thead th { position: sticky; top: 0; }

th, thead     { background:#3f3f44; color: white;}
th, td, thead { padding: 8px 16px; }

tr { background: #f7f7f7;}
td { color: black; }

table {
    margin: auto;
    color: white;
    -webkit-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    font-family: 'Roboto', sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.inputStyle {
	background-color: white;
	border-radius:28px;
	border:1px solid white;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:13px;
	padding:8px 14px;
    text-decoration:none;
    width: 50%;

    -webkit-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
    box-shadow: -1px 2px 30px -1px rgba(0,0,0,0.26);
}

